.ContainerRecipes {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.recipeBox {
    border-radius: 15px;
    background-color: #FCFAF8;
    height: 120px;
    display: flex;
    border: 2px solid #FE7F22;
    margin-top: 10px;
}

.recipeImageContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.recipeImage {
    height: 100px !important;
    width: 100px;
    border-radius: 15px;
}

.recipeInformationContainer {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra verticalmente */
    align-items: flex-start; /* Allinea a sinistra orizzontalmente */
    flex-wrap: wrap;
}

.recipeInformationContainer h5 {
    width: 100%; /* Assicura che l'h5 utilizzi l'intera larghezza del contenitore */
    text-align: left; /* Allinea il testo a sinistra */
    overflow-wrap: break-word; /* Fa sì che il testo vada a capo se è troppo lungo */
}

.favoritesButtonContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.verticallyCentered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.link {
    color: #FE7F22;
    font-weight: bold;
    text-decoration: none;
}

.recipeTitle {
    color: #454545 ;
}

.recipeSubTitle {
    color: #8a8a8a ;
}


